<!DOCTYPE HTML>
<html>
	<head>
		<title>Kradleco Blog</title>
		<meta charset="utf-8" />

		<!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-136254464-1');
		</script>

		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/gif" href="{% static 'main/images/KC_icon.png' %}">
		<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
		<meta property="og:description" content="La economía colaborativa ha llegado al retail.">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

            <!-- Header -->
            {% include "landing/inc/header.html" %}

            <!-- Menu -->
			{% include "landing/inc/menu.html" %}

			<!-- Main -->
			<div id="main">

			   {% block main %}
			   {% endblock %}

				<!-- Subir -->
				{% include "landing/inc/subir.html" %}

			</div>

			{% block sidebar %}
			{% endblock %}

		</div>

		<!-- Scripts -->
		<script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'main/assets/js/browser.min.js' %}"></script>
		<script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'main/assets/js/util.js' %}"></script>
		<script src="{% static 'main/assets/js/blog.js' %}"></script>

	</body>
</html>