{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block main %}

	<!-- Post -->
		<article class="post">
			<header>
				<div class="title">
					<h2><a href="/blog">{{ post.titulo }}</a></h2>
					<p>{{ post.subtitulo }}</p>
				</div>
				<div class="meta">
					<time class="published" datetime="{{ post.fecha_de_publicacion }}">{{ post.fecha_de_publicacion }}</time>
					<a href="https://www.linkedin.com/in/diegogeamena/" class="author"><span class="name">Diego Gea</span><img src="{% static 'blog/images/Diego_Gea.jpg' %}" alt="" /></a>
				</div>
			</header>
			<span class="image featured"><img src="{{ post.imagen_principal.url }}" alt="" /></span>
			{% autoescape off %}
				{{ post.introduccion }}
				{{ post.texto_1 }}
			{% endautoescape %}
			<br/>

			{% if post.imagen_1 %}
				<span class="image featured"><img src="{{ post.imagen_1.url }}" alt="" /></span>
			{% endif %}

			{% autoescape off %}
				{{ post.texto_2 }}
			{% endautoescape %}
			<br/>

			{% if post.imagen_2 %}
				<span class="image featured"><img src="{{ post.imagen_2.url }}" alt="" /></span>
			{% endif %}

			{% autoescape off %}
				{{ post.texto_3 }}
			{% endautoescape %}
			<br/>

			{% if post.url_video_final %}
				<iframe src="https://www.youtube.com/embed/{{ post.get_video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endif %}

			<footer>
				<ul class="stats">
					<li><a href="/blog">Kradleco Blog</a></li>
					<li><a href="#" class="icon fa-heart">28</a></li>
					<li><a href="#" class="icon fa-comment">128</a></li>
				</ul>
			</footer>
		</article>

{% endblock %}