{% load static %}

<section id="pruebalo-gratis">
    <div class="pruebalo-gratis">
        <div class="row gtr-uniform">
            <div class="col-12">
                <div class="sombra-box justify-content-center" id="banda">
                    <!-- <div class="logo"><span class="icon fa-diamond"></span></div> -->
                    <div class="col-12"><span class="image"><img src="{% static 'landing/images/Image_Landing_2.png' %}" alt="" /></span></div>
                <div class="row text-center"  align="center">
                <div class="col-3"></div>
                <p class="col-lg-6 p-4" style="font-size:16px;  background-color:rgba(255,255,255, 0.3); border-radius: 20px;">
                    <strong style="color: black; z-index:10;">
                        Me llamo Paloma Ribeiro, en el WoW era una priest de nivel chorrocientos llamada Emeren y aquí soy Momoyra10.
                    Llevo toda mi vida dibujando y es con lo que me gano la vida. Inicié estudios de antropología,
                    pero los dejé para centrarme al 100% en mi pasión, el mundo de la ilustración y el diseño. Dar salida a  nuevas ideas y originales
                    </strong></p>
                    <div class="col-3"></div>
                </div>

                    <form class="url mt-5" action="/about" method="get">
                        <input type="submit" value="Más sobre mi" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>