{% load static %}

<section id="blog" class="wrapper alt style1" style="margin-top:10px;">
    <div class="inner">
        <h2 class="major">Disfruta de mi blog</h2>
        <div class="row">
            <div class="col-12">
                <p>Mantente al tanto de mis nuevas publicaciones en distintas redes sociales o bien en
                    <b>mi blog.</b>
                    <br> ¡Bienvenido!
                </p>
            </div>
            <div class="col-12 mt-5">
                <a href="/blog" class="button">Llévame</a>
            </div>
        </div>
        <section class="features mt-5">
            {% for p in post_list %}
                <article>
                    <a href="/blog/{{ p.get_url }}" class="image">
                        <form class="url" action="/blog/{{ p.get_url }}" method="get">
                            <input type="submit" value="Leer entrada" />
                        </form>
                        <div class="text-box">
                            <h4 class="major">{{ p.titulo }}</h4>
                            {% autoescape off %}
                                {{ p.introduccion }}
                            {% endautoescape %}
                        </div>
                        <img src="{{ p.imagen_principal.url }}" alt="" />
                    </a>
                </article>
            {% endfor %}
        </section>
    </div>
</section>