{% load static %}

<section id="descubre" class="descubre">
    <div class="inner">
        <h2 class="major"><b>Descubre</b> Kradleco</h2>
        <p><b>Kradleco</b> es una plataforma de colaboración para pequeños retailers que te permite poner en práctica tendencias, procesos,
            y herramientas omnicanales propias del sector, sin necesidad de grandes recursos, y sin perder el control y contacto con tu cliente.</p>
        <p>En <b>Kradleco</b> puedes:</p>
        <div class="row gtr-uniform">
            <div class="col-4 col-12-small centrado">
                <div class="oval-border">
                    <div class="oval"><img src="{% static 'landing/images/descubre/tap_click_force_touch.png' %}" alt="Buscar" /></div>
                </div>
                <p><b>Buscar</b> canales off y on acordes a tu posicionamiento y colaborar con ellos.</p>
            </div>
            <div class="col-4 col-12-small centrado">
                <div class="oval-border">
                    <div class="oval"><img src="{% static 'landing/images/descubre/profile.png' %}" alt="Encontrar" /></div>
                </div>
                <p><b>Encontrar</b> marcas que poder acoger en tu espacio o negocio.</p>
            </div>
            <div class="col-4 col-12-small centrado">
                <div class="oval-border">
                    <div class="oval"><img src="{% static 'landing/images/descubre/object_connection_round.png' %}" alt="Contactar" /></div>
                </div>
                <p><b>Contactar</b> con empresas y servicios acordes a tu situación.</p>
            </div>
        </div>
    </div>
</section>