{% load static %}

    <!-- Empresa Section -->
    <section id="portfolio" class="text-center">
        <div class="container-fluid">
            <h2 class="mb-4">Empresas que han confiado en mi</h2>
            <div class="row">
                {% for c in empresas %}
                    <div class="col-lg-4 col-sm-6 mb-4 galery">
                        <a class="portfolio-box" href="#">
                            <img class="img-fluid w-100" src="{{ c.imagen.url }}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-100">{{ c.nombre }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
