{% load static %}

<section id="footer">
    <div id="contact" class="inner">
        <h2 class="major">¿Tienes alguna duda?</h2>
        <p>Si tienes alguna duda o sugerencia, contacta con nosotros, estamos en pleno relanzamiento de la plataforma y nos vendría bien tu feedback!</p>
        <div class="contact-form">
            <form novalidate="novalidate" method="post" name="contact">
                {% csrf_token %}
                <div class="fields">
                    <div class="field">
                        <label for="email">Dirección de email</label>
                        <!-- <input type="email" name="email" id="email" /> -->
                        {{ form.from_email }}
                    </div>
                    <div class="field">
                        <label for="message">Duda o comentario</label>
                        <!-- <textarea name="message" id="message" rows="4"></textarea> -->
                        {{ form.message }}
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Contactar" /></li>
                </ul>
            </form>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blues mt-5">
          <div class="container-fluid text-center text-md-left mt-5">
            <div class="row mt-5">

              <hr class="clearfix w-100 d-md-0 pb-3">
              <div class="col-md-6 mb-md-0 mb-6">
                <h5 class="text-uppercase">Enlaces de interés</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Home</a>
                  </li>
                  <li>
                    <a href="#!">Portfolio</a>
                  </li>
                  <li>
                    <a href="#!">Blog</a>
                  </li>
                  <li>
                    <a href="#!">Sobre mí</a>
                  </li>
                  <li>
                    <a href="#!">Contacto</a>
                  </li>
                </ul>
              </div>
                <hr class="clearfix w-100 d-md-none pb-3">
             <div class="col-md-6 mt-md-0 mt-3 mb-5">
                <h5 class="text-uppercase">MOMOYRA10</h5>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
              </div>
            </div>
          </div>
        </footer>
<!-- Footer -->

        <!--
        <ul class="contact">
            <li class="fa-envelope"><a href="#">info@kradleco.es</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
        -->
    </div>
</section>