{% load static %}

<section id="footer">
    <div class="inner">
        <!-- Footer -->
        <footer class="page-footer font-small blues mt-5">
          <div class="container-fluid text-center text-md-left mt-5">
            <div class="row mt-5">

              <hr class="clearfix w-100 d-md-0 pb-3">
              <div class="col-md-6 mb-md-0 mb-6">
                <h5 class="text-uppercase">Mapa Web</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                  </li>
                  <li>
                    <a href="/blog">Blog</a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}">Sobre mí</a>
                  </li>
                  <li>
                    <a href="/about#contact">Contacto</a>
                  </li>
                </ul>
              </div>
                <hr class="clearfix w-100 d-md-none pb-3">
             <div class="col-md-6 mt-md-0 mt-3 mb-5">
                <h5 class="text-uppercase">MOMOYRA10</h5>
                 <a href="https://www.instagram.com/momoyra10/" class="fa fa-instagram fa-2x mr-3" target="_blank" />
                 <a href="https://www.behance.net/ribeiroill299b" class="fa fa-behance fa-2x mr-3" target="_blank" />
                 <a href="https://www.linkedin.com/in/paloma-ribeiro-molina-ilustradora-freelance-game-artist-772979161/" class="fa fa-linkedin fa-2x" target="_blank"></a>
              </div>
            </div>
          </div>
        </footer>
    </div>
</section>