{% load static %}

<header id="header" class="alt container row col-12" style="width:100%; margin: 0 auto;">
    <div class="col-12">

        <div class="artista">
    <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-2" style="margin-top: -15px; margin-left:-15px;">
                    <a href="/">
                        <img width="50px" style=" height: auto;" src="{% static '/landing/images/logo.png' %}" alt="" />
                    </a>

            </div>
            <h6 class="col-8 col-sm-5 col-lg-8" style="left: 0em;">
                <b>Momoyra10</b><br>
                <b>Paloma Ribeiro. </b>Artista Digital</h6>
    </div>

        </div>

        <nav class="links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
            <a href="{% url 'about' %}">Sobre mí</a>
            <a href="/about#contact">Contacto</a>
        </nav>

        <nav class="menu">
            <a href="#menu"></a>
        </nav>
    </div>



</header>
