{% load static %}

<header id="header" class="alt container row col-12" style="width:100%; margin: 0 auto;">
    <div class="col-12">
        <a href="/" class="image original"><img src="{% static 'main/images/ga_logo_crop.png' %}" alt="gameartist.es" /></a>
        <a href="/" class="image white"><img src="{% static 'main/images/ga_logo_empty.png' %}" alt="gameartist.es" /></a>

        <div class="artista">
            <h6><b>Momoyra10</b><br><b>Paloma Ribeiro .</b> Artista Digital</h6>
        </div>

        <nav class="links">
            <a href="/">Home</a>
            <a href="/#portfolio">Portfolio</a>
            <a href="{% url 'blog:index' %}">Blog</a>
            <a href="/#about">About</a>
            <a href="/#contact">Contact</a>
        </nav>

        <nav class="menu">
            <a href="#menu">Menu</a>
        </nav>
    </div>



</header>
