{% load static %}

<header id="header" class="alt container row col-12" style="width:100%; margin: 0 auto;">
    <div class="col-12">

        <div class="artista">
    <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-2" style="margin-top: -15px; margin-left:-15px;">
                 <img style="width: 50px;"  src="https://drive.google.com/uc?id=1iSAa5AvaqJg-ZASA02tN-Hcp4-BsjMJF" alt="">
            </div>
            <h6 class="col-6 col-sm-5 col-lg-8" style="left: 0em;">
                <b>Momoyra10</b><br>
                <b>Paloma Ribeiro. </b>Artista Digital</h6>
    </div>

        </div>

        <nav class="links">
            <a href="/">Home</a>
            <a href="/#portfolio">Portfolio</a>
            <a href="{% url 'blog:index' %}">Blog</a>
            <a href="/#about">About</a>
            <a href="/#contact">Contact</a>
        </nav>

        <nav class="menu">
            <a href="#menu"></a>
        </nav>
    </div>



</header>
