{% load static %}

<section id="marca-espacio-servicio" class="wrapper spotlight">
    <div class="marca-espacio-servicio">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <div class="sombra-box">
                    <div class="logo"><img src="{% static 'landing/images/marca/marca_icon.svg' %}" alt="Marca" /></div>
                    <form class="url" action="/formulario" method="get">
                        <input type="submit" value="Soy una marca de moda" />
                    </form>
                    <p>Tienes una marca de moda o belleza: textil, calzado, complementos, maquillaje, cosmética...</p>
                </div>
            </div>
            <div class="col-4 col-12-small">
                <div class="sombra-box">
                    <div class="logo"><img src="{% static 'landing/images/marca/espacio_icon.svg' %}" alt="Espacio" /></div>
                    <form class="url" action="/formulario" method="get">
                        <input type="submit" value="Soy un espacio" />
                    </form>
                    <p>Si eres dueño de un local o dispones de un espacio físico u online donde distribuir marcas.</p>
                </div>
            </div>
            <div class="col-4 col-12-small">
                <div class="sombra-box">
                    <div class="logo"><img src="{% static 'landing/images/marca/servicio_icon.svg' %}" alt="Servicio" /></div>
                    <form class="url" action="/formulario" method="get">
                        <input type="submit" value="Soy un servicio" />
                    </form>
                    <p>Si suministras servicios a retailers: Fabricantes, consultores, influencers, abogados, agencias de marketing…</p>
                </div>
            </div>
        </div>
    </div>
</section>