{% load static %}

<section id="pruebalo-gratis">
    <div class="pruebalo-gratis">
        <div class="row gtr-uniform">
            <div class="col-12">
                <div class="sombra-box">
                    <!-- <div class="logo"><span class="icon fa-diamond"></span></div> -->
                    <div class="col-12"><span class="image fit"><img src="{% static 'landing/images/Image_Landing_2.png' %}" alt="Kradleco" /></span></div>
                    <form class="url" action="/formulario" method="get">
                        <input type="submit" value="Pruébalo Gratis" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>