{% load static %}

<section id="ventajas" class="ventajas">
    <div class="inner">
        <h2 class="major"><b>Ventajas</b> de Kradleco</h2>
        <div class="row gtr-uniform">
            <div class="col-6 col-12-small">
                <ul>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/recursos_icon.svg' %}" alt="Recursos" /></div>
                        </div>
                        <p>Sin necesidad de incrementar tus <b>recursos</b>.</p>
                    </li>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/info_privada_icon.svg' %}" alt="Información privada" /></div>
                        </div>
                        <p><b>Información privada</b>, solo compartes lo que necesitas con otros usuarios.</p>
                    </li>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/integra_icon.svg' %}" alt="Integra con RSS" /></div>
                        </div>
                        <p>Fácil de usar, <b>integra con RRSS y tienda online</b>.</p>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-12-small">
                <ul>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/ahorra_icon.svg' %}" alt="Ahorra tiempo y dinero" /></div>
                        </div>
                        <p><b>Ahorra tiempo y dinero</b> en la búsqueda y gestión de socios comerciales.</p>
                    </li>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/informate_icon.svg' %}" alt="Infórmate y fórmate" /></div>
                        </div>
                        <p><b>Infórmate y fórmate</b> en el sector.</p>
                    </li>
                    <li>
                        <div class="oval-border">
                            <div class="oval"><img src="{% static 'landing/images/ventajas/posicionate_icon.svg' %}" alt="Posiciónate" /></div>
                        </div>
                        <p><b>Posiciónate</b> en el sector.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>