{% load i18n %}

<style>
  #confirmCookie {
    background: none repeat scroll 0 0 rgba(0,0,0,0.6);
    margin: 0;
    position: fixed;
    transition: all 0.5s ease-out 0s;
    z-index: 9999;
    box-shadow: -2px 0 15px #999;
    bottom: 0;
    width: 100%;
    color: white;
  }

  #confirmCookie p {
   padding: 10px;
  }
</style>

<div id="confirmCookie">
  <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios mediante el analisis de sus habitos de navegacion.<br>
    Necesitamos su consentimiento para poder hacer uso de las cookies que requieren su aprobacion previa.
    Para mas informacion puede leer nuestra Politica de Cookies.
    <br>
    <a class="btn btn-primary pull-right" href="{% url 'acceptCookiePolicy' %}">Aceptar</a>
    <br>
  </p>
</div>

