{% extends "landing/base.html" %}

{% load static %}

{% block title %}Sobre mi - Momoyra10{% endblock %}

{% block content %}
<br><br><br>
<div class="container-fluid row p-5">

    <div class="col-xl-1"></div>
    <div class="col-xl-4 col-12 float-left">
         <img class="img-fluid w-100" src="static/landing/images/Momoyra10_foto.jpg" alt="" />
    </div>
    <div class="col-xl-6 col-12" style="font-family: 'Source Sans Pro'; font-size: 1.2em;">
        <h1>Sobre mí</h1><br>
        <p>Me llamo Paloma Ribeiro, en el WoW era una priest de nivel chorrocientos llamada Emeren y aquí soy Momoyra10.
            <br><br>

Llevo toda mi vida dibujando y es con lo que me gano la vida. Inicié estudios de antropología, pero los dejé para centrarme
    al 100% en mi pasión, el mundo de la ilustración y el diseño. Dar salida a  nuevas ideas y originales. <br><br>

Vivo en Málaga, la tierra del Sol abrasador. Por eso los dibujos con colores XXXX me hacen sentir como en casa.
    Trabajo desde  una pequeña oficina, dependiendo del tipo de encargo que haya que hacer. Soy freelance porque me gusta jugar la vida en modo difícil.
            <br><br>
Respecto al mundo de los videojuegos, siempre he sido de MMORPGs y juegos de puzzles. Aunque hace ya unos años que llevo probando todo tipo de géneros.
    Cosas del trabajo. ¡Y me encantan! He tenido la suerte de trabajar ya para más de XX títulos.
    Que a 5 puntos de experiencia por título, me ha dado para subir a Artista nivel 22.
            <br><br>
Nací en el 93 y llevo sin parar de formarme para ser ilustradora desde que tenía fuerzas para coger un carboncillo.
    Si quieres saber más sobre mi portafolio pásate por la galería y me comentas qué te parecen mis trabajos. ¡Espero que nos veamos pronto!
</p>
    </div>
</div>

<!-- Footer -->
	{% include "landing/inc/footer.html" %}


{% endblock %}