<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />

        <!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136254464-1');
        </script>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/gif" href="{% static 'main/images/KC_icon.png' %}">
        <link rel="stylesheet" href="{% static 'landing/css/landing.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'landing/css/creative.min.css' %}" rel="stylesheet">
        <noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
        <meta property="og:description" content="La economía colaborativa ha llegado al retail.">
        <meta name="keywords" content="keywords, html keywords, meta keywords, keyword data, kradleco, kradeler, retail, economia colaborativa" />
    </head>
    <body id="page-top" class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            {% include "landing/inc/header.html" %}

            <!-- Menu -->
            {% include "landing/inc/menu.html" %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}primary{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Main -->
            {% block content %}
            {% endblock %}

            <!-- Subir -->
            {% include "landing/inc/subir.html" %}

        </div>

        <!-- Scripts -->
        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'main/assets/js/util.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>