<!DOCTYPE HTML>
<html>
    <head>
        <title>Kradleco</title>
        <meta charset="utf-8" />

        <!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136254464-1');
        </script>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/gif" href="{% static 'main/images/KC_icon.png' %}">
        <link rel="stylesheet" href="{% static 'landing/css/landing.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
        <meta property="og:description" content="La economía colaborativa ha llegado al retail.">
        <meta name="keywords" content="keywords, html keywords, meta keywords, keyword data, kradleco, kradeler, retail, economia colaborativa" />
    </head>
    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            {% include "landing/inc/header.html" %}

            <!-- Menu -->
            {% include "landing/inc/menu.html" %}

            <!-- Banner -->
            {% block banner %}
            {% endblock %}

            <!-- Wrapper -->
            {% block wrapper %}
            {% endblock %}

            <!-- Subir -->
            {% include "landing/inc/subir.html" %}

            <!-- Footer -->
            {% block contacto %}
            {% endblock %}

        </div>

        <!-- Scripts -->
        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'main/assets/js/util.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>

    </body>
</html>