<!DOCTYPE HTML>
<html>
    <head>
        <title>Kradleco</title>
        <meta charset="utf-8" />

        <!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136254464-1');
        </script>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/gif" href="{% static 'landing/images/logo.png' %}">
        <link rel="stylesheet" href="{% static 'landing/css/landing.css' %}" />
        <link rel="stylesheet" href="{% static 'landing/css/formulario.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
        <meta property="og:description" content="La economía colaborativa ha llegado al retail.">
    </head>
    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            {% block header %}
            {% endblock %}

            <!-- Menu -->
            {% block menu %}
            {% endblock %}

            <!-- Banner -->
            {% block banner %}
            {% endblock %}

            <!-- Wrapper -->
            {% block wrapper %}
            {% endblock %}

            <!-- Footer -->
            {% block contacto %}
            {% endblock %}

        </div>

        <!-- Scripts -->
        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'main/assets/js/util.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                $("#id_quien_eres input:radio").on('change', function(){
                    $('#id_quien_eres .checked').removeClass('checked');
                    $(this).parent().parent().toggleClass("checked");
                });
                $("#id_que_buscas input:radio").on('change', function(){
                    $('#id_que_buscas .checked').removeClass('checked');
                    $(this).parent().parent().toggleClass("checked");
                });
                $(":checkbox").on('change', function(){
                    $(this).parent().parent().toggleClass("checked");
                });

                $('input:radio#id_quien_eres_0').on('change', function(){
                    $('.servicios').slideUp('slow');
                });
                $('input:radio#id_quien_eres_1').on('change', function(){
                    $('.servicios').slideUp('slow');
                });
                $('input:radio#id_quien_eres_2').on('change', function(){
                    $('.servicios').slideDown('slow');
                });

            });
        </script>

    </body>
</html>