{% extends "landing/base.html" %}

{% load static %}

{% block banner %}
	<!-- Banner -->
	{% include "landing/inc/banner.html" %}
{% endblock %}

{% block wrapper %}
	<section id="wrapper">
		<!-- Marca, espacio o servicio -->
		{% include "landing/inc/marca.html" %}

		<!-- Ventajas -->
		{% include "landing/inc/ventajas.html" %}

		<!-- Pruebalo Gratis -->
		{% include "landing/inc/pruebalo.html" %}

		<!-- Descubre -->
		{% include "landing/inc/descubre.html" %}

		<!-- Blog -->
		{% include "landing/inc/blog.html" %}
	</section>
{% endblock %}

{% block contacto %}

	<!-- Contacto -->
	{% include "landing/inc/footer.html" %}

{% endblock %}
