{% extends "landing/base.html" %}

{% load static %}

{% block title %}Momoyra10 - Artista Digital{% endblock %}

{% block content %}

	<!-- Banner -->
	{% include "landing/inc/banner.html" %}

	<!-- Marca, espacio o servicio -->
	{% include "landing/inc/portfolio.html" %}

	<!-- Ventajas -->
	{% include "landing/inc/ventajas.html" %}

	<!-- Pruebalo Gratis -->
	{% include "landing/inc/pruebalo.html" %}

	<!-- Descubre -->
	{% include "landing/inc/descubre.html" %}

	<!-- Blog -->
	{% include "landing/inc/blog.html" %}

	<!-- Contacto -->
	{% include "landing/inc/footer.html" %}

{% endblock %}
