{% extends "landing/base.html" %}

{% load static %}

{% block title %}Momoyra10 - Artista Digital{% endblock %}

{% block description %}<meta property="og:description" content="{{ og_description }}">{% endblock %}

{% block content %}

	<!-- Banner -->
	{% include "landing/inc/banner.html" %}

	<!-- Empresas -->
	{% include "landing/inc/empresas.html" %}

	<!-- Portfolio -->
	{% include "landing/inc/portfolio.html" %}

	<!-- Banda contacto  -->
	{% include "landing/inc/banda.html" %}

	<!-- Blog -->
	{% include "landing/inc/blog.html" %}

	<!-- Contacto -->
	{% include "landing/inc/contact.html" %}

	<!-- Footer -->
	{% include "landing/inc/footer.html" %}

{% endblock %}
