{% extends "landing/base.html" %}

{% load static %}

{% block title %}Momoyra10 - Mensaje enviado{% endblock %}

{% block content %}

	<!-- Banner -->
	{% include "landing/inc/banner.html" %}

<section id="blog" class="wrapper alt style1" style="margin-top:10px;">
	<div class="inner">
		<h2>¡Enhorabuena!</h2>
		<div class="row">
			<div class="col-6 col-12-medium">
				<p>Tu mensaje se ha enviado correctamente. Muchas gracias!</p>
				<p><a href='/'>Volver</a></p>
			</div>
		</div>
	</div>
</section>

{% endblock %}