{% extends "landing/base.html" %}

{% load static %}

{% block banner %}
	<section id="banner">
		<div class="inner">
			<h2>¡Enhorabuena!</h2>
			<div class="row">
				<div class="col-6 col-12-medium">
					<p>GRACIAS POR ENVIARNOS TU SOLICITUD.</p>
					<p>Estamos trabajando para lanzar la plataforma de colaboración a mediados de 2019.</p>
					<p>TE IREMOS INFORMANDO DE LAS NOTICIAS Y ENTRADAS PUBLICADAS EN LA CUENTA DE EMAIL QUE NOS HAS SUMINISTRADO</p>
					<p><a href='/'>Volver a Kradleco</a></p>
				</div>
				<div class="col-6 col-12-medium">
					<div class="col-12"><span class="image fit"><img src="{% static 'landing/images/Image_Landing_1.png' %}" alt="Kradleco" /></span></div>
				</div>
			</div>
			<input type="text" name="buscar" id="npt-buscar" placeholder="Busca una marca, un espacio o un servicio" />
		</div>
	</section>
{% endblock %}